pipeline/Array to String.json
{
	"name": "Array to String",
	"properties": {
		"activities": [
			{
				"name": "LookupEmails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Email",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupEmails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEmails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "TempEmails",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempEmails",
								"value": {
									"value": "@concat(item().Emails,';',variables('EamilVariable'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Emaisl",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TempEmails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "EamilVariable",
								"value": {
									"value": "@variables('TempEmails')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"EamilVariable": {
				"type": "String"
			},
			"TempEmails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}